<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.digitalmarketingclub.dmc">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="DMC app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LogoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="DMC"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    </application>
</manifest>